<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aws4RequestSigner" version="1.0.3" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.105.13" targetFramework="net48" />
  <package id="AWSSDK.EC2" version="3.7.125" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.103.21" targetFramework="net48" />
</packages>